.button {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}
.button:pressed {
    -fx-background-color:
            linear-gradient(#fff7a4, #e5e6a1),
            linear-gradient(#fffcde, #f2edd3),
            linear-gradient(#ffea6a, #efeac9),
            linear-gradient(#ffffd8 0%, #f7f8cd 50%, #eeeab1 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}

#playButton{
    -fx-background-color:
            linear-gradient(#3bff2c, #1be663),
            linear-gradient(#1eff30, #e1f2d4),
            linear-gradient(#f3ffe6, #70ef58),
            linear-gradient(#3cff2e 0%, #51f84d 50%, #16ee9e 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(39, 255, 50, 0.9), rgba(255,255,255,0));
    -fx-background-radius: 20;
}
#fastForwardButton{
    -fx-background-color:
            linear-gradient(#2931ff, #68b2e6),
            linear-gradient(#5694ff, #e1eaf2),
            linear-gradient(#63a8ff, #bcd1ef),
            linear-gradient(#b4d6ff 0%, #448af8 50%, #1c35ee 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(27, 102, 255, 0.9), rgba(255,255,255,0));
    -fx-background-radius: 20;
}

#HUD{
    -fx-background-image: url("wood.jpg");
}

.my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}