@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url('https://fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&text=!');

#pane{
    -fx-background-image: url("background3.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
#gameTitle{
    -fx-font-size: 20;
}
.scroll-pane{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.button {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-padding: 10 20 10 20;
    -fx-opacity: 1;
}
.button:pressed {
    -fx-background-color:
            linear-gradient(#fff7a4, #e5e6a1),
            linear-gradient(#fffcde, #f2edd3),
            linear-gradient(#ffea6a, #efeac9),
            linear-gradient(#ffffd8 0%, #f7f8cd 50%, #eeeab1 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-padding: 10 20 10 20;
    -fx-opacity: 1;
}
#createAccount.button{
    -fx-font-size: 20px;
}
#createAccount.button:pressed{
    -fx-font-size: 20px;
}
#back:pressed{
    -fx-opacity: 0.7;
}

.my-rect {
    -fx-fill:
            linear-gradient(#fffa70, #e4e6e1);
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-opacity: 1;
    -fx-border-radius: 10;
}
#green.button {
    -fx-opacity: 1;
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 3, 2;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-size: 20px;
}
#selectGame.label{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#green.button:pressed {
    -fx-background-color:
            linear-gradient(#eeffc9, #a4ff6a),
            radial-gradient(center 50% -40%, radius 200%, #eed9c2 45%, #c5c88c 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}